# Results of the ROS Test

| Team name                                 | ROS Test score | Notes   |
| ----------------------------------------- | -------------- | ------- |
| SHUNYA                                    | 45             |         |
| Sapienza Technology Team                  | 39             |         |
| IITB Mars Rover Team                      | 32             |         |
| CRISS Robotics                            | 29             |         |
| NSpace                                    | 27             |         |
| TerraBots                                 | 23             |         |
| Team Interplanetar - BUET Mars Rover Team | 19             |         |
| Team Robocon IITR                         | 13             |         |
| RIVAL                                     | 10             |         |
| DJS Antariksh                             | 9              |         |
| Team Horizon                              | 9              |         |
| Mind Cloud                                | 4              |         |
| PSG Team Aurora                           | 3              |         |
| Team Inferno DTU                          | 3              |         |
| Amogh                                     | 0              | No show |
| ARES                                      | 0              | No show |
| CSA ROBOTICS                              | 0              | No show |
| Makercie                                  | 0              | No show |
| ProjectRed                                | 0              | No show |
| PUTLunarTeam                              | 0              | No show |
