# Results of Payload Test

| Team                                      | Payload Test |
| ----------------------------------------- | ------------ |
| Sapienza Technology Team                  | 44           |
| TerraBots                                 | 42           |
| CRISS Robotics                            | 41           |
| SHUNYA                                    | 38           |
| DJS Antariksh                             | 38           |
| IITB Mars Rover Team                      | 35           |
| NSpace                                    | 27           |
| Mind Cloud                                | 26           |
| Team Interplanetar - BUET Mars Rover Team | 24           |
| Team Robocon IITR                         | 21           |
