# Qualification results

After reviewing many applications, we've chosen the Teams which we will invite to the next phase of the Competition.

>[!important]
> This is also a place where we must emphasise that those are results for the **Remote Formula** ane **not** the **Onsite Formula**. Many applications were written in a way that's clearly geared towards the Onsite Formula. We've chosen to accept such submissions as well - but please take a look what you've put yourselves into ;)

We've also decided to completely skip submissions that had zero effort/bogus data put into them - like a CV or a test result attached as a Proposal. The Competition Rulebook clearly states that the Proposal must be a document geared towards this particular competition and not simply a generic paper. We've also deduplicated some submissions. The length limit was not strictly enforced this time - most Teams have respected it, and any overspills were justified. Heavy use of diagrams and images was present in some of the Proposals and it helped with clarity a lot - we do encourage Teams to include such elements in the following years.

Have in mind that this phase is only scored based on the Proposal. Other fields from the Registration Form like Team description, social profiles and so on were not scored. Maximum score for the Proposal is 50 points, and the score is a sum of scores from all categories.

| Position | Team name                                 | Skills | Experience | Composition | Plan | Equipment | Wildcard | Sum | Status                         |
| -------- | ----------------------------------------- | ------ | ---------- | ----------- | ---- | --------- | -------- | --- | ------------------------------ |
| 1        | Sapienza Technology Team                  | 9      | 4          | 5           | 15   | 5         | 3        | 41  | Qualified to Connectivity Test |
| 2        | SHUNYA                                    | 10     | 1          | 5           | 15   | 3         | 5        | 39  | Qualified to Connectivity Test |
| 3        | IITB Mars Rover Team                      | 10     | 3          | 2           | 15   | 5         | 3        | 38  | Qualified to Connectivity Test |
| 4        | CRISS Robotics                            | 10     | 5          | 5           | 10   | 5         | 2        | 37  | Qualified to Connectivity Test |
| 5        | Team Inferno DTU                          | 10     | 3          | 4           | 13   | 4         | 3        | 37  | Qualified to Connectivity Test |
| 6        | Makercie                                  | 10     | 2          | 5           | 10   | 3         | 3        | 33  | Qualified to Connectivity Test |
| 7        | Mind Cloud                                | 10     | 3          | 1           | 10   | 5         | 3        | 32  | Qualified to Connectivity Test |
| 8        | PSG Team Aurora                           | 8      | 5          | 4           | 11   | 4         | 0        | 32  | Qualified to Connectivity Test |
| 9        | TerraBots                                 | 10     | 2          | 4           | 14   | 0         | 2        | 32  | Qualified to Connectivity Test |
| 10       | CSA ROBOTICS                              | 10     | 1          | 5           | 7    | 5         | 3        | 31  | Qualified to Connectivity Test |
| 11       | DJS Antariksh                             | 10     | 3          | 1           | 8    | 5         | 4        | 31  | Qualified to Connectivity Test |
| 12       | NSpace                                    | 10     | 5          | 4           | 8    | 3         | 1        | 31  | Qualified to Connectivity Test |
| 13       | Team Robocon IITR                         | 9      | 4          | 5           | 10   | 2         | 1        | 31  | Qualified to Connectivity Test |
| 14       | ARES                                      | 10     | 1          | 5           | 5    | 5         | 3        | 29  | Qualified to Connectivity Test |
| 15       | Amogh                                     | 10     | 3          | 5           | 4    | 5         | 1        | 28  | Qualified to Connectivity Test |
| 16       | Team Interplanetar - BUET Mars Rover Team | 8      | 4          | 3           | 6    | 2         | 2        | 25  | Qualified to Connectivity Test |
| 17       | Team Horizon                              | 6      | 4          | 2           | 9    | 0         | 2        | 23  | Qualified to Connectivity Test |
| 18       | PUTLunarTeam                              | 10     | 2          | 4           | 3    | 2         | 2        | 23  | Qualified to Connectivity Test |
| 19       | ProjectRed                                | 2      | 4          | 5           | 3    | 3         | 3        | 20  | Qualified to Connectivity Test |
| 20       | RIVAL                                     | 1      | 1          | 3           | 13   | 0         | 1        | 19  | Qualified to Connectivity Test |
| 21       | BanglaBot Xplorer                         | 5      | 2          | 1           | 1    | 0         | 1        | 10  | Reserve List                   |
| 22       | ELTE StudentTechLab                       | 3      | 1          | 1           | 3    | 0         | 1        | 9   | Reserve List                   |
| 23       | BLAZERS                                   | 3      | 0          | 0           | 0    | 0         | 2        | 5   | Reserve List                   |
| 24       | light pheniox                             | 1      | 2          | 1           | 0    | 0         | 0        | 4   | Reserve List                   |

## Per category comments

Below you'll find some remarks about all of the scored categories. Those are **not** complete scoring guides, but rather some quirks we've found and wanted to share.

### Skills
Max points: 10

It was particularly nice to see that some Teams have mentioned mentors/sponsors/alumni as a valuable resources for their Teams.

Awareness of the importance of *soft skills* was also present in some Proposals - this is something we would like to see more of in the future.

We've also awarded awareness of a current lack of skills and the importance of learning them during the process.

### Experience
Max points: 5

Participation in previous competitions was the most common experience type, and most of you had lots of them listed.
There were a few teams that also mentioned things like research papers, robotics projects, etc.

Some of you listed projects of individual team members and we've rewarded that a bit too - but we mostly want to see the **team** effort in this section.

### Composition
Max points: 5

The main pitfall here was a lack of awareness that this is a software-heavy competition, thus even if you have a software team you still need to divide it into smaller sub-teams - like an embedded firmware team, a computer vision/autonomy team, machine learning (LLM/data analysis/...), generic software (like UI/operator panel), etc.

### Plan
Max points: 15

That category was the most important to us (as it's a proof of your effort and engagement) but also the most difficult to score. You've managed to provide us with plans ranging from "we'll figure this out later" to detailed descriptions of used technologies, algorithms, diagrams and so on.

We won't get into details about the scoring here, but there were two main axes:
- plan from a team management perspective - high-level descriptions of phases, dates, Gantt diagrams, assignment of tasks to people and so on
- technical details of proposed solutions

Technical details had slightly more points available due to the sheer volume of some of the provided works.
Team management points were given for the comprehensiveness of the plan (planning for things like admin tasks, recruitment, shooting ads, etc)

### Equipment
Max points: 5

Surprisingly a few Teams have not provided any data for the Equipment (and we've chosen **not** to assume that based on projects/experience you *may* have access to this and that).

One pattern we noticed that many Teams have not specified whether they plan for obtaining hardware later or they have access to it right now, but there were a couple of Teams that have clearly separated their equipment into multiple sections (own, can access, need to acquire, may need, will need but it won't be easy, etc).

Other thing was to include items that are geared towards onsite competitions, and almost irrelevant for remote ones (like CNC machines or oddly specific radio modules) - which we've chosen to ignore this time.

Surprisingly there were a couple of reasonable entries mentioning software licenses as an equipment.

### Wildcard
Max points: 10

This was a category which very few Teams have clearly provided - this is why we went over the whole documents and tried to find things worth rewarding - in most cases we succeeded. ;)

There were also multiple cases were wildcard contained rephrased data from sections above - such items were scored in their respective categories.
